h2 {
  font-size: 2.8rem;
}

.tab-column {
  padding: 0 10px 0 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
}
